python-dotenv
flask
streamlit
streamlit-globe
pandas
numpy
sqlalchemy
psycopg2-binary   
geoalchemy2       
google-generativeai
sqlparse
plotly
pydeck
scikit-learn
matplotlib
requests
streamlit-folium
folium
requests
xarray
bs4
tabulate
duckdb
pyarrow